:root {
  --primary-color: #0C2340;
  --secondary-color: #FFFFFF;
  --accent-color: #0077C0;
  --background-color: #C6E2FF;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-image: url("bg_image.jpeg");
  background-size: auto;
  background-position: center;
}

button[type="submit"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-size: 1.1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #005EB8;
}

form {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--primary-color);
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

input[type="text"],
textarea {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: var(--primary-color);
}

.brand-logo {
  font-size: 2em;
  position: absolute;
  left: 20px;
}

.card {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.card-body {
  padding: 10px;
}

.card-footer {
  background-color: var(--background-color);
  padding: 10px;
}

.comment {
  margin-top: 10px;
  border-left: 5px solid var(--accent-color);
  padding: 10px;
  background-color: var(--secondary-color);
}

.comment p {
  margin-bottom: 5px;
}

.comment span {
  font-size: 0.9rem;
  color: var(--primary-color);
}

.logo {
  display:flex;
  align-items:center;
  justify-content:center;
  height: 85vh;
}

.slogan {
  position: absolute;
  left: 28%;
  transform: translateX(-50%);
  font-size: 15px;
  color: #FFFFFF;
}


